@import url('./theme.less');
.el-message {
  font-size: @font20;
}

.el-message__content {
  font-size: @font20!important;
}

.el-notification__content {
  font-size: @font20!important;
}

:root {
  --el-font-size-large: @font20!important;
  --el-font-size-base: @font20!important;
}

.el-input--large {
  font-size: @font20!important;
}

// 表格
.el-table__cell{
  background-color: rgb(255, 255, 255)!important;
  color: rgb(96,98,102);
}

.el-table__expand-icon>.el-icon {
  font-size: @font20;
}